@font-face {
    font-family: vcr;
    src: url(/resources/vcrosd.ttf);
}
body {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    overflow: hidden;

    background-color: black;
    font-family: 'vcr';
}
terminal {
    width: 100%;
    height: auto;

    /* display: flex; */
    margin: 2rem;
    padding: 3rem;

    outline-style: solid;
    outline-width: 0.5rem;
    outline-color: white;

    font-size: 2rem;
    color: white;

    word-break: break-word;
    white-space: pre-wrap;

    user-select: none;
}
o {
    color: #FF481A;
}