@font-face {
    font-family: mononoki;
    src: url(/resources/mononoki.ttf);
}
body {
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;

    overflow: hidden;

    background-color: black;
    font-family: 'mononoki';
}