.content_right {
    width: 100%;
    height: 100%;

    display: grid;

    gap: 0;
    grid-template-columns: calc(var(--face-size) / 3) calc(var(--face-size) / 3) calc(var(--face-size) / 3);
    grid-template-rows: calc(var(--face-size) / 3) calc(var(--face-size) / 3) calc(var(--face-size) / 3);
    grid-template-areas: 
    "ka_spirits_area ka_spirits_area ka_spirits_area"
    "ka_spirits_area ka_spirits_area ka_spirits_area"
    "ka_label_area ka_label_area ka_label_area";

    background-color: var(--face-color);
}

.cell_right {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
}

#ka_spirits_area {
    grid-area: ka_spirits_area;
}
#ka_spirits_0 {
    background-image: url("/resources/right/ka_spirits_0.svg");
    
    width: calc(var(--face-size));
    height: calc(var(--face-size) / 1.5);
    
    background-repeat: repeat;

    background-size: 200%;
    background-position-y: -1.15rem;

    animation-name: ka_spirits_0_move; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#ka_label_area {
    grid-area: ka_label_area;
}
#ka_label_0 {
    background-image: url("/resources/right/ka_label_0.svg");
    
    width: calc(var(--face-size));
    height: calc(var(--face-size) / 3);
}

@keyframes ka_spirits_0_move {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -40rem;
    }
}