.content_left {
    width: 100%;
    height: 100%;

    display: grid;

    gap: 0;
    grid-template-columns: calc(var(--face-size) / 3) calc(var(--face-size) / 3) calc(var(--face-size) / 3);
    grid-template-rows: calc(var(--face-size) / 3) calc(var(--face-size) / 3) calc(var(--face-size) / 3);
    grid-template-areas: 
    "lb_flowers_area lb_flowers_area lb_flowers_area"
    "lb_flowers_area lb_flowers_area lb_flowers_area"
    "lb_label_area lb_label_area lb_label_area";

    background-color: var(--face-color);
}

.cell_left {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
}

.lb_flowers_area {
    grid-area: lb_flowers_area;
}
.lb_flowers {
    width: calc(var(--face-size));
    height: calc(var(--face-size) / 1.5);
    
    background-repeat: repeat;
}
#lb_flowers_0 {
    background-image: url("/resources/faces/left/lb_flowers_0.svg");

    background-size: 33%;

    animation-name: lb_flowers_0_move; 
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#lb_flowers_1 {
    background-image: url("/resources/faces/left/lb_flowers_1.svg");

    background-size: 44%;

    opacity: 10%;

    animation-name: lb_flowers_1_move; 
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#lb_label_area {
    grid-area: lb_label_area;
}
#lb_label_0 {
    background-image: url("/resources/faces/left/lb_label_0.svg");
    
    width: calc(var(--face-size));
    height: calc(var(--face-size) / 3);
}

@keyframes lb_flowers_0_move {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: -6.6rem;
        background-position-y: 6.6rem;
    }
}

@keyframes lb_flowers_1_move {
    0% {
        background-position-x: 0;
        background-position-y: 0;
    }
    100% {
        background-position-x: -4.4rem;
        background-position-y: 4.4rem;
    }
}