:root {
    --font-size: 1.1rem;
    --face-size: 20rem;

    --face-color: #2d2d2d;
    --bg-color: #111;

    --scene-offset-y: 0;
    
    --load-text-scale: 1;
    --load-text-pos-state: absolute;
    --load-text-url: url("/resources/misc/load_text.svg");
}

@font-face {
    font-family: dotgothic16;
    src: url("/resources/fonts/dotgothic16.ttf");
}
body {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;

    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    user-select: none;

    background-color: var(--bg-color);

    font-family: "dotgothic16";
}

.pre_line { /* for text elements with line breaks. */
    white-space: pre-line;
}

.button {
    transition: all 60ms;
}

.button:hover {
    opacity: .5;
    cursor: pointer;
}