#scene {
    width: 100%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;

    margin-bottom: 0rem;

    transition: all 220ms;
}

@media screen and (max-width: 50rem) { /* 50 + 4 for left and right margins. */
    #scene {
        scale: .7;
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 30rem) { /* 50 + 4 for left and right margins. */
    #scene {
        scale: .5;
        margin-bottom: 15rem;
    }
}

@media screen and (max-height: 50rem) { /* 50 + 4 for left and right margins. */
    #scene {
        scale: .7;
    }
}

@media screen and (max-height: 30rem) { /* 50 + 4 for left and right margins. */
    #scene {
        scale: .5;
    }
}